body {
    background-color: rgb(220, 220, 238);
    color: rgb(37, 34, 34);
    font-family: "Playwrite AU QLD", cursive;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    }
    button{
        background-color: rgba(9, 128, 158, 0.582);
        color: white;
        font-family: "Playwrite AU QLD", cursive;
    }

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}